# {{ project_name }}

{{ project_description }}

[![PyPI](https://img.shields.io/pypi/v/{{ repository_name }}.svg?label=PyPI&color=blue)](https://pypi.org/project/{{ repository_name }}/)
[![Python version](https://img.shields.io/pypi/pyversions/{{ repository_name }})](https://pypi.org/project/{{ repository_name }}/)

[![Coverage](https://img.shields.io/codecov/c/github/{{ repository_namespace }}/{{ repository_name }}?logo=codecov)](https://app.codecov.io/github/{{ repository_namespace }}/{{ repository_name }})
[![CI/CD](https://img.shields.io/github/actions/workflow/status/{{ repository_namespace }}/{{ repository_name }}/publish.yml?label=CI/CD&logo=github)](https://github.com/{{ repository_namespace }}/{{ repository_name }}/actions/workflows/publish.yml)
[![GitHub issues](https://img.shields.io/github/issues/{{ repository_namespace }}/{{ repository_name }}?logo=github)](https://github.com/{{ repository_namespace }}/{{ repository_name }}/issues)

# quickstart
```bash
conda create -n {{ python_package_import_name }} python{{ python_package_requires_python }}
conda activate {{ python_package_import_name }}
pip install {{ python_package_import_name }}
```

```python
import {{ python_package_import_name }}
```